# Core Dependencies
python-dotenv>=1.0.1
pydantic>=2.7.0
pydantic-settings>=2.2.0
requests>=2.31.0

# Backend Framework
fastapi>=0.111.0
uvicorn>=0.30.0
httpx>=0.27.0

# Database
sqlalchemy>=2.0.30
psycopg2-binary>=2.9.9

# Machine Learning & Analytics
pandas>=2.2.2
numpy>=1.26.4
scikit-learn>=1.5.0
xgboost>=2.0.3
joblib>=1.4.2
